* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist,sans-serif;
}

html {
  font-size: 62.5%;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
}

h1{
  font-size: 3.2rem;
  width: 7rem;
  border-bottom: 1px solid red;
}

h2{
  font-size: 2.2rem;
}

p{
  font-size: 1.7rem;
}

.grid{
  display: grid;
  gap:7.7rem;
}

.grid-three-cols{
  grid-template-columns: repeat(3,1fr);
}
nav ul {
  display: flex;
  gap: 4rem;
}

li {
  list-style: none;
}

.container {
  padding: 7rem 10rem;
}

label{
    font-size: 1.8rem;
}

.main-heading{
    font-size: 3.2rem;
}

.login-section{
    margin-top: -10rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}